@{
    ViewData["Title"] = "ContactUs";
    Layout = (string)ViewData["LayoutName"];
}
<div data-elementor-type=wp-post data-elementor-id=22 class="elementor elementor-15" data-elementor-settings=[]>
    <div class=elementor-inner>
        <div class=elementor-section-wrap>
            <section class="elementor-element elementor-element-4d118c49 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=4d118c49 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;arrow&quot;}>
                <div class=elementor-background-overlay></div>
                <div class="elementor-shape elementor-shape-bottom" data-negative=false>
                    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 700 10" preserveAspectRatio=none>
                        <path class=elementor-shape-fill d=M350,10L340,0h20L350,10z />
                    </svg>
                </div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-36fce338 elementor-column elementor-col-100 elementor-top-column" data-id=36fce338 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-4434f14d elementor-widget elementor-widget-heading" data-id=4434f14d data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h4 class="elementor-heading-title elementor-size-default">Contact Us</h4>

                                        </div>

                                    </div>
                                    <!--<div class="elementor-element elementor-element-4c15d253 elementor-widget elementor-widget-heading" data-id=4c15d253 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default">Building Creative Email Campaigns and Templates</h2>

                                        </div>

                                    </div>-->

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </section>
            <section class="elementor-element elementor-element-e4e0182 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=e4e0182 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;}>
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-49367e05 elementor-column elementor-col-50 elementor-top-column" data-id=49367e05 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-54c8c743 elementor-widget elementor-widget-image" data-id=54c8c743 data-element_type=widget data-widget_type=image.default>
                                        <div class=elementor-widget-container>
                                            <div class=elementor-image> <img class=lazy src="~/content/images/contact-us.png" title alt="About Us. Infozium Services, History, Mission, Vision."></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="elementor-element elementor-element-3df6f959 elementor-column elementor-col-100 elementor-top-column" data-id=3df6f959 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-d6dcd58 elementor-widget elementor-widget-heading" data-id=d6dcd58 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h3 class="elementor-heading-title elementor-size-default">Live your dream at ALTEZA !</h3>

                                        </div>

                                    </div>
                                    <div class="elementor-element elementor-element-19965d8e elementor-widget elementor-widget-text-editor" data-id=19965d8e data-element_type=widget data-widget_type=text-editor.default>
                                        <div class=elementor-widget-container>
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>
                                                    Feel the awesomeness of our vibrant work culture where you have the freedom to share ideas, get appreciation for your talent and get encouraged despite failures, and all this with lots of fun and frolic.
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default upper-text">Request for Call</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-824fa95 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=824fa95 data-element_type=section>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-effef83 elementor-column elementor-col-100 elementor-top-column" data-id=effef83 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-8268bdd eael-caldera-form-align-default eael-caldera-form-btn-align-default elementor-widget elementor-widget-eael-caldera-form" data-id=8268bdd data-element_type=widget data-widget_type=eael-caldera-form.default>
                                        <div class=elementor-widget-container>
                                            <div class=eael-caldera-form-container>
                                                <div class=caldera-grid id=caldera_form_1 data-cf-ver=1.8.9 data-cf-form-id=CF5dfc8db22e390>
                                                    <div id=caldera_notices_1 data-spinner=https://www.infozium.com/wp-admin/images/spinner.gif></div>


                                                    <div class="contact100-form validate-form">
                                                        <!-- <span class="contact100-form-title">
                                                            Contact Us
                                                        </span> -->

                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                                                            <!--<span class="label-input100">Your Name</span>-->
                                                            <input class="input100" type="text" name="name" placeholder="Enter your name">
                                                            <label class="label-input100-new" for="name">
                                                                <span class="fas fa-user"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                                            <!--<span class="label-input100">Email</span>-->
                                                            <input class="input100" type="text" name="email" placeholder="Enter your email addess">
                                                            <label class="label-input100-new" for="name">
                                                                <span class="fas fa-envelope"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Contact no is required">
                                                            <!--<span class="label-input100">Contact No</span>-->
                                                            <input class="input100" type="text" name="contact" placeholder="Enter your contact number">
                                                            <label class="label-input100-new" for="name">
                                                                <span class="fas fa-phone-alt"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>
                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Service type is required">
                                                            <!--<span class="label-input100">Service of Interest</span>-->
                                                            <select name=services class=input100>
                                                                <option value="" selected>Select your service</option>
                                                                <option value="Email Campaign Management & Production">Email Campaign Management & Production</option>
                                                                <option value="Search Marketing (SEO/PPC) & Analytics">Search Marketing (SEO/PPC) & Analytics</option>
                                                                <option value="Content & Social Media Marketing">Content & Social Media Marketing</option>
                                                                <option value="Websites Development">Websites Development</option>
                                                                <option value="Mobile & Web Apps">Mobile & Web Apps</option>
                                                                <option value="Software Development"> Software Development</option>
                                                                <option value="Rewards & Recognitions">Rewards & Recognitions</option>
                                                                <option value="Training & Career Devlopment">Training & Career Devlopment</option>
                                                                <option value="All of the Above">All of the Above</option>
                                                                <option value="Others">Others</option>
                                                            </select>
                                                            <label class="label-input100-new" for="name">
                                                                <span class="fas fa-tasks"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 validate-input" data-validate="Message is required">
                                                            <!--<span class="label-input100">Message</span>-->
                                                            <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
                                                            <label class="label-input100-new" for="name">
                                                                <span class="fas fa-comment-alt"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="container-contact100-form-btn">
                                                            <button class="contact100-form-btn" onclick="SendMailAttach()">
                                                                <span>
                                                                    Submit
                                                                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>