@{
    ViewData["Title"] = "Home Page";
    Layout = (string)ViewData["LayoutName"]; ;
}

<div data-elementor-type=wp-post data-elementor-id=15 class="elementor elementor-15" data-elementor-settings=[]>
    <div class=elementor-inner>
        <div class=elementor-section-wrap>
            <section class="elementor-element elementor-element-447d163e elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id=447d163e data-element_type=section data-settings={&quot;background_background&quot;:&quot;gradient&quot;,&quot;shape_divider_bottom&quot;:&quot;pyramids&quot;}>
                @*<div class="elementor-shape elementor-shape-bottom" data-negative=false>
                    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 1000 100" preserveAspectRatio=none>
                        <path class=elementor-shape-fill d=M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9 />
                    </svg>
                </div>*@
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-4535cb40 elementor-column elementor-col-50 elementor-top-column" data-id=4535cb40 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-13582904 elementor-widget elementor-widget-heading" data-id=13582904 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h1 class="elementor-heading-title elementor-size-default">Results Oriented<br> Digital Marketing</h1>
                                        </div>
                                    </div>
                                    @*<section class="elementor-element elementor-element-6cfb046 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id=6cfb046 data-element_type=section>
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class=elementor-row>
                                                <div class="elementor-element elementor-element-f0090af elementor-column elementor-col-50 elementor-inner-column" data-id=f0090af data-element_type=column>
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class=elementor-widget-wrap>
                                                            <div class="elementor-element elementor-element-b4b05d2 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id=b4b05d2 data-element_type=widget data-widget_type=button.default>
                                                                <div class=elementor-widget-container>
                                                                    <div class=elementor-button-wrapper> <a href=#contact class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role=button><br> <span class=elementor-button-content-wrapper><br> <span class=elementor-button-text>Schedule A Meeting</span><br> </span><br> </a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-f6a87ad elementor-column elementor-col-50 elementor-inner-column" data-id=f6a87ad data-element_type=column>
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class=elementor-widget-wrap>
                                                            <div class="elementor-element elementor-element-2c7c12f elementor-mobile-align-center elementor-widget elementor-widget-button" data-id=2c7c12f data-element_type=widget data-widget_type=button.default>
                                                                <div class=elementor-widget-container>
                                                                    <div class=elementor-button-wrapper> <a href="tel:+91-909 944 9937" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role=button><br> <span class=elementor-button-content-wrapper><br> <span class=elementor-button-text>CALL: +91-909 944 9937</span><br> </span><br> </a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>*@
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-8063299 elementor-column elementor-col-50 elementor-top-column" data-id=8063299 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-be5ed3f elementor-widget elementor-widget-image" data-id=be5ed3f data-element_type=widget data-widget_type=image.default>
                                        <div class=elementor-widget-container>
                                            <div class=elementor-image> <img width=500 height=512 src="~/content/images/front image 1.png" class="attachment-full size-full lazy" alt="Digital Marketing" data-srcset="https://www.infozium.com/wp-content/uploads/2019/04/SEO-digital-marketing.png 500w, https://www.infozium.com/wp-content/uploads/2019/04/SEO-digital-marketing-293x300.png 293w" data-sizes="(max-width: 500px) 100vw, 500px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-36129e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=36129e2 data-element_type=section>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-2796899 elementor-column elementor-col-100 elementor-top-column" data-id=2796899 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-e060ee5 elementor-widget elementor-widget-text-editor" data-id=e060ee5 data-element_type=widget data-widget_type=text-editor.default>
                                        <div class=elementor-widget-container>
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <h2>Digital Marketing Services You Need in this Place</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e47f33e elementor-widget elementor-widget-divider" data-id=e47f33e data-element_type=widget data-widget_type=divider.default>
                                        <div class=elementor-widget-container>
                                            <div class=elementor-divider> <span class=elementor-divider-separator><br> </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-5601a37 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=5601a37 data-element_type=section>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-04a3eb4 elementor-column elementor-col-100 elementor-top-column" data-id=04a3eb4 data-element_type=column>
                            <div class=elementor-column-wrap>
                                <div class=elementor-widget-wrap></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="elementor-element elementor-element-c786105 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=c786105 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;}>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-a4e4d50 animated-slow elementor-column elementor-col-66 elementor-top-column" data-id=a4e4d50 data-element_type=column data-settings={&quot;animation&quot;:&quot;fadeIn&quot;,&quot;background_background&quot;:&quot;classic&quot;}>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <!--<div class="elementor-element elementor-element-67acbbc elementor-widget elementor-widget-heading" data-id=67acbbc data-element_type=widget data-widget_type=heading.default>
                                <div class=elementor-widget-container>
                                    <h2 class="elementor-heading-title elementor-size-default">One of the Top Digital Marketing Companies!</h2>
                                </div>
                            </div>-->
                                    <div class="elementor-element elementor-element-c3b224b elementor-widget elementor-widget-text-editor" data-id=c3b224b data-element_type=widget data-widget_type=text-editor.default>
                                        <div class=elementor-widget-container>
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <ul>
                                                    <li>Alteza is a futuristic and fast-paced Technology and Marketing Solution Partner for all businesses all across the world.</li>
                                                </ul>
                                                <div></div>
                                                <ul>
                                                    <li>
                                                        An Equal Opportunity Employer with People-first approach, we believe in high-performance, growth-driven culture – powered
                                                        by our vibrant team.
                                                    </li>
                                                </ul>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4ae09b3 animated-slow elementor-column elementor-col-33 elementor-top-column" data-id=4ae09b3 data-element_type=column data-settings={&quot;animation&quot;:&quot;fadeIn&quot;}>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-44c3c19 elementor-widget elementor-widget-image" data-id=44c3c19 data-element_type=widget data-widget_type=image.default>
                                        <div class=elementor-widget-container>
                                            <div class=elementor-image> <img width=176 height=171 src=https://www.infozium.com/wp-content/uploads/2019/10/problem-solving-icon-1.png class="attachment-large size-large lazy" alt="Home 1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
       
            <section class="elementor-element elementor-element-595cd1f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=595cd1f data-element_type=section>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-d878048 elementor-column elementor-col-100 elementor-top-column" data-id=d878048 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-df6d8eb elementor-widget elementor-widget-spacer" data-id=df6d8eb data-element_type=widget data-widget_type=spacer.default>
                                        <div class=elementor-widget-container>
                                            <div class=elementor-spacer>
                                                <div class=elementor-spacer-inner></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default upper-text">Request for Call</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("~/Views/Shared/_InquiryForm.cshtml")
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
