
@{
    ViewData["Title"] = "Career";
    Layout = (string)ViewData["LayoutName"]; ;
}

<div data-elementor-type=wp-post data-elementor-id=22 class="elementor elementor-15" data-elementor-settings=[]>
    <div class=elementor-inner>
        <div class=elementor-section-wrap>
            <section class="elementor-element elementor-element-4d118c49 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=4d118c49 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;arrow&quot;}>
                <div class=elementor-background-overlay></div>
                <div class="elementor-shape elementor-shape-bottom" data-negative=false>
                    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 700 10" preserveAspectRatio=none>
                        <path class=elementor-shape-fill d=M350,10L340,0h20L350,10z />
                    </svg>
                </div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-36fce338 elementor-column elementor-col-100 elementor-top-column" data-id=36fce338 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-4434f14d elementor-widget elementor-widget-heading" data-id=4434f14d data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h4 class="elementor-heading-title elementor-size-default">Open Positions</h4>

                                        </div>

                                    </div>
                                    <!--<div class="elementor-element elementor-element-4c15d253 elementor-widget elementor-widget-heading" data-id=4c15d253 data-element_type=widget data-widget_type=heading.default>
                                <div class=elementor-widget-container>
                                    <h2 class="elementor-heading-title elementor-size-default">Building Creative Email Campaigns and Templates</h2>

                                </div>

                            </div>-->

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </section>
            <section class="elementor-element elementor-element-e4e0182 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=e4e0182 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;}>
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-49367e05 elementor-column elementor-col-50 elementor-top-column" data-id=49367e05 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-54c8c743 elementor-widget elementor-widget-image" data-id=54c8c743 data-element_type=widget data-widget_type=image.default>
                                        <div class=elementor-widget-container>
                                            <div class=elementor-image> <img class=lazy src="~/content/images/career-1.png" title alt="About Us. Infozium Services, History, Mission, Vision."></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="elementor-element elementor-element-3df6f959 elementor-column elementor-col-50 elementor-top-column" data-id=3df6f959 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-d6dcd58 elementor-widget elementor-widget-heading" data-id=d6dcd58 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h3 class="elementor-heading-title elementor-size-default"></h3>

                                        </div>

                                    </div>
                                    <div class="elementor-element elementor-element-19965d8e elementor-widget elementor-widget-text-editor" data-id=19965d8e data-element_type=widget data-widget_type=text-editor.default>
                                        <div class=elementor-widget-container>
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>
                                                    If you are a go-getter, dynamic and willing to grab opportunities that come your way, ALTEZA is the place to be. ALTEZA DIGITAL can be your playground where dreams take flight, ideas turn into innovations and every goal achieved is celebrated.
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-e4e0182 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=e4e0182 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;}>
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-3df6f959 elementor-col-100 elementor-column elementor-top-column" data-id=3df6f959 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-d6dcd58 elementor-widget elementor-widget-heading bottom-line" data-id=d6dcd58 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h3 class="elementor-heading-title elementor-size-default">Current Opening.</h3>
                                            <p>If you passionate with working in our organisation then apply below or send your CV to <a href="mailto:info@altezatel.com">info@altezatel.com</a> </p>
                                        </div>

                                    </div>
                                    <hr />
                                    <div class="elementor-element elementor-element-19965d8e elementor-widget elementor-widget-text-editor bottom-line" data-id=19965d8e data-element_type=widget data-widget_type=text-editor.default>
                                        <div class=elementor-widget-container>
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <h3><strong>Graphics Designer</strong></h3>
                                                <p><strong>Exprireience: </strong><span>Fresher or 2+ years.</span></p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default upper-text">Apply for future growth</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-824fa95 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=824fa95 data-element_type=section>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-effef83 elementor-column elementor-col-100 elementor-top-column" data-id=effef83 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-8268bdd eael-caldera-form-align-default eael-caldera-form-btn-align-default elementor-widget elementor-widget-eael-caldera-form" data-id=8268bdd data-element_type=widget data-widget_type=eael-caldera-form.default>
                                        <div class=elementor-widget-container>
                                            <div class=eael-caldera-form-container>
                                                <div class=caldera-grid id=caldera_form_1 data-cf-ver=1.8.9 data-cf-form-id=CF5dfc8db22e390>
                                                    <div id=caldera_notices_1 data-spinner=https://www.infozium.com/wp-admin/images/spinner.gif></div>


                                                    <div class="contact100-form validate-form">
                                                        <!-- <span class="contact100-form-title">
                                                    Contact Us
                                                </span> -->

                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                                                            <!--<span class="label-input100">Your Name</span>-->
                                                            <input class="input100" type="text" name="sender_name" placeholder="Enter your full name">
                                                            <label class="label-input100-new" for="sender_name">
                                                                <span class="fas fa-user"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                                            <!--<span class="label-input100">Email</span>-->
                                                            <input class="input100" type="text" name="sender_email" placeholder="Enter your email addess">
                                                            <label class="label-input100-new" for="sender_email">
                                                                <span class="fas fa-envelope"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Contact no is required">
                                                            <!--<span class="label-input100">Contact No</span>-->
                                                            <input class="input100" type="text" name="contact" placeholder="Enter your contact number" maxlength="15" onkeypress="return contactNoValidation(this,event)">
                                                            <label class="label-input100-new" for="contact">
                                                                <span class="fas fa-phone-alt"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>
                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Positions is required">
                                                            <!--<span class="label-input100">Service of Interest</span>-->
                                                            <input class="input100" type="text" name="position" placeholder="Positions Applying For">
                                                            <label class="label-input100-new" for="position">
                                                                <span class="fas fa-user-plus"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 rs1-wrap-input100 ">
                                                            <!--<span class="label-input100">Message</span>-->
                                                            <textarea class="input100" name="message" placeholder="Your comment here...(optional)"></textarea>
                                                            <label class="label-input100-new" for="message">
                                                                <span class="fas fa-comment-alt"></span>
                                                            </label>
                                                            <span class="focus-input100"></span>
                                                        </div>
                                                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Upload file is required">
                                                            <!--<span class="label-input100">Message</span>-->
                                                            <!--<input type="file" class="input100" name="fileupload" placeholder="Upload file here..." />-->
                                                            <div class="file-upload">
                                                                <!-- <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button> -->

                                                                <div class="image-upload-wrap">
                                                                    <input class="file-upload-input input100" type='file' name="attachment" style="height:100%;" onchange="" accept=".pdf,.doc,.docx,.ppt,.pptx,.xml,.txt..odt,.rtf,.tex,.wks,.wps,.wpd" />

                                                                    <div class="drag-text">
                                                                        <label class="label-input100-new" for="attachment" style="margin: auto;position: relative;">
                                                                            <span class="fas fa-file"></span>
                                                                        </label>
                                                                        <h3>Drag and drop a file or browse file<br>(Allow File Type: '.pdf,.doc,.docx,.ppt,.pptx,.xml,.txt,.odt,.rtf,.tex,.wks,.wps,.wpd')</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="file-upload-content">
                                                                    <label class="label-input100-new" for="name" style="margin: auto;position: relative;">
                                                                        <span class="fas fa-file"></span>
                                                                    </label><br />
                                                                    <!--<img class="file-upload-image" src="#" alt="your image" />-->
                                                                    <span class="file-upload-file"></span>
                                                                    <div class="image-title-wrap">
                                                                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded file</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <span class="focus-input100"></span>
                                                        </div>
                                                        <div class="container-contact100-form-btn">
                                                            <button type="button" class="contact100-form-btn">
                                                                <span>
                                                                    Submit
                                                                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
<script src="~/content/js/jquery-3.2.1.min.js"></script>

<script>
    $(document).ready(function () {
        $('.btnCloseFile').hide();
        $('.file-upload-input').change(function () {

            if ($(this).val() != "") {
                var filetypes = $(this).attr('accept');
                if (filetypes.includes(GetFileExtension($(this).val()))) {
                    //$('.btnCloseFile').show();
                    $('.image-upload-wrap').hide();
                    $('.file-upload-file').text(this.files[0].name);
                    $('.file-upload-content').show();
                    $('.image-upload-wrap').parents('.wrap-input100').removeClass('alert-validate');
                }
                else {
                    $(this).val('');
                    //$('#modelFileAlert').find('.modal-title').text('Alert');
                    //$('#modelFileAlert').find('.modal-body').text('Invalid File Type');
                    //$('#modelFileAlert').modal('show');
                    ErrorAlertPopup('Alert', 'Invalid File Type.');
                    $('.image-upload-wrap').removeClass('image-dropping');
                }
            }
            else {
                //$('.btnCloseFile').hide();
            }
        });
        $('.btnCloseFile').on('click', function () {
            var inputFile = $('.file-upload-input');
            inputFile.replaceWith(inputFile.val('').clone(true));
            $(this).hide();
        });
    })

    //function readURL(input) {
    //    if (input.files && input.files[0]) {
    //        debugger;
    //        var reader = new FileReader();

    //        reader.onload = function (e) {
    //            $('.image-upload-wrap').hide();

    //            $('.file-upload-file').text(e.target.result);
    //            $('.file-upload-content').show();

    //            $('.image-title').html(input.files[0].name);
    //        };

    //        reader.readAsDataURL(input.files[0]);

    //    } else {
    //        removeUpload();
    //    }
    //}

    function removeUpload() {
        $('.file-upload-input').val('');
        //$('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show().removeClass('image-dropping');
    }
    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });

    $(document).on("click", ".contact100-form-btn", function (callback) {
        isFileSubmit = true;
    })

    function SendMailAttach() {
        var fileUpload = $('input[name="attachment"]').get(0);
        var files = fileUpload.files; 
        // Create FormData object  
        var fileData = new FormData(); 
        // Looping over all files and add it to FormData object  
        for (var i = 0; i < files.length; i++) {
            fileData.append("files", files[i]);
        }
        
        var CareerMail = {
            Name: $('input[name="sender_name"]').val(),
            Email: $('input[name="sender_email"]').val(),
            ContactNo: $('input[name="contact"]').val(),
            Position: $('input[name="position"]').val(),
            Message: $('textarea[name="message"]').val()
        }
        fileData.append("Name", CareerMail.Name);
        fileData.append("Email", CareerMail.Email);
        fileData.append("ContactNo", CareerMail.ContactNo);
        fileData.append("Position", CareerMail.Position);
        fileData.append("Message", CareerMail.Message);
        $.ajax({
            type: "POST",
            url: 'Service/SendMailWithAttachment',
            data: fileData,
            //contentType: "application/json; charset=utf-8",
            //dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.indexOf('Success') == 0) {
                    SuccessAlertPopup('Success', 'Mail sen successfully.');
                }
                else if (data.indexOf('Success') == 0) {
                    SuccessAlertPopup('Alert', 'Mail sen failed.');
                }
            },
            error: function (res) {
                alert("Error:" + res.responseText);

            }
        });
    }

</script>
