
@{
    ViewData["Title"] = "MobileAndWebApp";
    Layout = (string)ViewData["LayoutName"];
}

<div data-elementor-type=wp-post data-elementor-id=22 class="elementor elementor-15" data-elementor-settings=[]>
    <div class=elementor-inner>
        <div class=elementor-section-wrap>
            <section class="elementor-element elementor-element-4d118c49 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=4d118c49 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;arrow&quot;}>
                <div class=elementor-background-overlay></div>
                <div class="elementor-shape elementor-shape-bottom" data-negative=false>
                    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 700 10" preserveAspectRatio=none>
                        <path class=elementor-shape-fill d=M350,10L340,0h20L350,10z />
                    </svg>
                </div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-36fce338 elementor-column elementor-col-100 elementor-top-column" data-id=36fce338 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-4434f14d elementor-widget elementor-widget-heading" data-id=4434f14d data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h4 class="elementor-heading-title elementor-size-default">Mobile & Web Apps</h4>

                                        </div>

                                    </div>
                                    <!--<div class="elementor-element elementor-element-4c15d253 elementor-widget elementor-widget-heading" data-id=4c15d253 data-element_type=widget data-widget_type=heading.default>
                                <div class=elementor-widget-container>
                                    <h2 class="elementor-heading-title elementor-size-default">Building Creative Email Campaigns and Templates</h2>

                                </div>

                            </div>-->

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </section>
            <section class="elementor-element elementor-element-e4e0182 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=e4e0182 data-element_type=section data-settings={&quot;background_background&quot;:&quot;classic&quot;}>
                <div class="elementor-container elementor-column-gap-no">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-49367e05 elementor-column elementor-col-50 elementor-top-column" data-id=49367e05 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-54c8c743 elementor-widget elementor-widget-image" data-id=54c8c743 data-element_type=widget data-widget_type=image.default>
                                        <div class=elementor-widget-container>
                                            <div class=elementor-image> <img class=lazy src="~/content/images/app-devlopment-.jpg" title alt="About Us. Infozium Services, History, Mission, Vision."></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="elementor-element elementor-element-3df6f959 elementor-column elementor-col-50 elementor-top-column" data-id=3df6f959 data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-d6dcd58 elementor-widget elementor-widget-heading" data-id=d6dcd58 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h3 class="elementor-heading-title elementor-size-default">Developing Quality Applications for Mobile and Web</h3>

                                        </div>

                                    </div>
                                    <div class="elementor-element elementor-element-19965d8e elementor-widget elementor-widget-text-editor" data-id=19965d8e data-element_type=widget data-widget_type=text-editor.default>
                                        <div class=elementor-widget-container>
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>
                                                    Our experienced coding team for mobile and web apps strives to create innovative applications for the web, mobile phones, tablets and smart devices.
                                                </p>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default upper-text">Request for Call</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @Html.Partial("~/Views/Shared/_InquiryForm.cshtml")
            <section class="elementor-element elementor-element-ef7a37f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id=ef7a37f data-element_type=section id=contact>
                <div class="elementor-container elementor-column-gap-default">
                    <div class=elementor-row>
                        <div class="elementor-element elementor-element-7d1aadf elementor-column elementor-col-100 elementor-top-column" data-id=7d1aadf data-element_type=column>
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class=elementor-widget-wrap>
                                    <div class="elementor-element elementor-element-2ef4eb7 elementor-widget elementor-widget-heading" data-id=2ef4eb7 data-element_type=widget data-widget_type=heading.default>
                                        <div class=elementor-widget-container>
                                            <h2 class="elementor-heading-title elementor-size-default"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
